{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <h2>Trek to Kilimanjaro - 6th to 15th October 2022</h2>
       <p>We will be supporting Isabel Hospice in its fundraising efforts by joining a group attempting to
           travel to and climb Kilimanjaro in October this year.</p>
       <p> All costs relating to our travel and accommodation in respect the trip will be paid for by us
           as part of our support of the efforts.</p>
     <h2>Information about Kilimanjaro</h2>
       <p>Mount Kilimanjaro is a dormant volcano in Tanzania. It has three volcanic cones: Kibo, Mawenzi, and Shira.
           It is the highest mountain in Africa and the highest single free-standing mountain in the world: 5,895 metres
           (19,341 ft) above sea level.</p>
       <p>In 1973, the mountain and its six surrounding forest corridors were named Kilimanjaro National Park in order
           to protect its unique environment. The park was named a United Nations Educational, Scientific and Cultural
           Organization (UNESCO) World Heritage site in 1987. A variety of animals live in the area surrounding the
           mountain, including the blue monkey (Cercopithecus mitis).</p>
       <p>Mount Kilimanjaro lies just 205 miles from the equator, in the country of Tanzania. When early explorers
           reported seeing glaciers on the top of Kilimanjaro, people did not believe them as they thought it was
           impossible for ice to form so close to the hot, equatorial sun. Scientists now believe that the glaciers
           shrink and then regrow during the planet’s ice ages..</p>
       <p>Mount Kilimanjaro is a stratovolcano – a term for a very large volcano made of ash, lava, and rock.
           Shira and Mawenzi are extinct volcanoes, meaning that there is no activity underneath these cones. In
           short, they are cut off from their supply of lava. However, Kibo is considered a dormant volcano; it
           can erupt again! If a volcano hasn’t erupted in the last 10,000 years, but scientists think it will
           erupt again, it’s considered dormant.</p>
     <h2>Isabel Hospice.</h2>
       <p>Isabel Hospice is run as a local charity and each year cares for hundreds of people across the South East.
           Care is provided for free and can be provided in a person's home, at a community hub or through their
           In-Patient Unit. Most of the people that become the subject of care have cancer, however, the Hospice is
           increasingly caring for people with other life limiting conditions.</p>
       <p>We are all likely to need care at some point in our lives and providing the right environment in the last
           days of life is one of the kindest and most respectful services we can deliver.</p>
   </div>
 {% endblock %}