<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1
        {color: green;
        text-align: center;
        }
        table{
        margin-left: auto;
        margin-right: auto;
        font-size:18px;
            }
            td, th
            {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #c0c0c0;}
    </style>
</head>
<h1> Auction Dinner - May 2022</h1>
<table>
    <thead>
    <tr>
        <th>Lot</th>
        <th>Title of item</th>
        <th>Description of item</th>
        <th>Opening at</th>
        <th>Current bid</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>1</td>
        <td>French Sparkle</td>
        <td>6 bottles of Bouvet - Saumer Rose Brut</td>
        <td>£30</td>
        <td>-</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Tennis lesson</td>
        <td>Perfect your swing. 1 hr tennis lesson with [] </td>
        <td>£10</td>
        <td>-</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Victoria Sponge Cake</td>
        <td>Glorious Victoria Sponge cake by [   ]</td>
        <td>£5</td>
        <td>-</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Holiday In South of Spain</td>
        <td>1 week stay in beautiful Nerja. House on the Med - sleeps 6 people </td>
        <td>£300</td>
        <td>-</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Weekend in London</td>
        <td>Friday evening through Sunday evening apartment on Spittlefields Market</td>
        <td>£100</td>
        <td>-</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Whisky</td>
        <td>12 year old Glenfiddich Scotch Whisky </td>
        <td>£10</td>
        <td>-</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Dog Walking</td>
        <td>6 dog walks of 1 hour </td>
        <td>£30</td>
        <td>-</td>
    </tr>
    <tr>
        <td>8</td>
        <td>TBC</td>
        <td>TBC </td>
        <td>£0</td>
        <td>-</td>
    </tr>
    <tr>
        <td>9</td>
        <td>TBC</td>
        <td>TBC</td>
        <td>£0</td>
        <td>-</td>
    </tr>
    <tr>
        <td>10</td>
        <td>TBC</td>
        <td>TBC</td>
        <td>£0</td>
        <td>-</td>
    </tr>
    </tbody>
</table>
</html>