<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1
        {color: green;
        text-align: center;
        }
        table{
        margin-left: auto;
        margin-right: auto;
        font-size:18px;
            }
            td, th
            {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #c0c0c0;}
    </style>
</head>
<h1> Kilimanjaro Events Programme 2022</h1>
<table>
    <thead>
    <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Location</th>
        <th>Start time</th>
        <th>Organiser</th>
        <th>Description of event</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Dinner and Auction</td>
        <td>May</td>
        <td>Restaurant</td>
        <td>7:00 pm</td>
        <td>Martin</td>
        <td>Dinner and auction event. 10 to 15 lots. Items include week holiday in Nerja</td>
    </tr>
    <tr>
        <td>Tennis Tournament</td>
        <td>19th June (Sunday) </td>
        <td>Hawkswick tennis courts</td>
        <td>2:00 pm</td>
        <td>Martin</td>
        <td>Afternoon tournament for 20 people. Entry £20 per person</td>
    </tr>
    <tr>
        <td>Sponsored cycle</td>
        <td>July</td>
        <td>London to Brighton</td>
        <td>11:00 am</td>
        <td>Martin</td>
        <td>6 hour ride from London to Brighton followed by dinner.</td>
    </tr>
    </tbody>
</table>
</html>