{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <h2>Fund raising for Isabel Hospice - Kilimanjaro Trek - 6th to 15th October 2022</h2>
       <p>Our target is to raise £5,000 in support of Isabel Hospice as part of its fundraising efforts by putting
           together a number of activities culminating in a group trek up the slopes of Kilimanjaro in October
           this year.</p>
       <p> All costs relating to our travel and accommodation in respect the trip will be paid for by us
           as part of our support of the efforts.</p>
       <p>We have also donated the first £2,000 to get the ball rolling.</p>
       <p>Please help in these efforts to raise money for Isobel Hospice.</p>
     <h2>Information about how to contribute</h2>
       <p>A just giving account has been established at [     ]. </p>
       <p>Any financial contributions you are able to make will be gratefully accepted and should be sent to this
           account</p>
       <p>If you are able to assist in proposed events or can contribute to prizes or lots at the auction please
           do contact us as these contributions are hugely welcome and assist us in our efforts to promote and support
           the great work the hospice does</p>
     <h2>Information on Isabel Hospice.</h2>
       <p>Isabel Hospice is run as a local charity and each year cares for hundreds of people across the South East.
           Care is provided for free and can be provided in a person's home, at a community hub or through their
           In-Patient Unit. Most of the people that become the subject of care have cancer, however, the Hospice is
           increasingly caring for people with other life limiting conditions.</p>
       <p>We are all likely to need care at some point in our lives and providing the right environment in the last
           days of life is one of the kindest and most respectful services we can deliver.</p>
   </div>
 {% endblock %}