{% extends "layout.html" %}
{% block content %}
<head>
    <style>
        h1{
        color:green;
        text-align: center;
        }
        button {
            background-color: brown;
            width: 250px;
            color: white;
            font-size: 20px;
            padding: 15px;
            text-align: center;
            margin: 10px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
</head>
<h1>
    Welcome to the Kilimanjaro training programme
</h1>

<button type="button" onclick="window.location.href='{{url_for('training_target')}}';">
    Training target
</button>


{% endblock %}